# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / Editor artifacts
.vscode/
.idea/
*.swp
*.swo

# OS artifacts
.DS_Store
Thumbs.db
